<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746839849855-s8om406gaf4fouoh7603u1gge4ks9443.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746839849855-s8om406gaf4fouoh7603u1gge4ks9443</string>
	<key>API_KEY</key>
	<string>AIzaSyAdpxBdv2nvRhcoFeQyswXjBXcgsVyLEdI</string>
	<key>GCM_SENDER_ID</key>
	<string>746839849855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycelium.wallet-ios</string>
	<key>PROJECT_ID</key>
	<string>mycelium-wallet-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mycelium-wallet-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746839849855:ios:fbf1faf3e2cfd2bfeff84a</string>
	<key>DATABASE_URL</key>
	<string>https://mycelium-wallet-ios.firebaseio.com</string>
</dict>
</plist>